
header {
	text-align: center;
	margin-top: 5px;

}


.fa-code  {
	color: whitesmoke;
}

body {
	color: whitesmoke;
	background-color: black;
}

.col-md-12 , .col-md-6 {
	margin-bottom: 60px;

}

img {
	align-self: center;
}

.container {
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
	margin: 100px 25px;
	border-style: ridge;
	border-
}