
.col-md-6, .col-md-4, .col-md-offset-4 {
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}

.container {
	position: static;
	min-height: 50px;
	padding-right: 20px;
	padding-left: 20px;
	font-family: 'Roboto Mono', monospace;

}

.site-wrapper {
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
	box-shadow: inset 0 0 100px rgba(0,0,0,.5);
	background-image: cover;
}

.navbar navbar-default navbar-fixed-bottom {
	padding-top: 20px;
}

section {
	width: 100%;
	height: 100%;
}