

body {
	color: darkgray;
	background-color: whitesmoke;
	font-family: 'Orbitron', sans-serif;
}

h1 {
	font-size: 50px;
}

p {
	font-size: 20px;
}

@media screen and  (min-width: 768px) {
	#intro-section {
		background-image: url("../images/IMG_3346.jpg") !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;
		background-position: center center !important;
		color: whitesmoke;
		position: relative;
		height: 100%;
		padding-top: 380px !important;
		padding-bottom: 120px !important;
		text-align: right;
		background: #fff;
	}
}

@media handheld and (grid) and (max-width: 15em) {
	@media (min-width: 700px) {
		.col-md-12 .col-md-6 {
			margin-bottom: 10px;
			margin-top: 20px;
		}
	}
}


@media (min-width: 700px) {
	.container {
		text-align: center;
		padding-left: 100px;
		padding-right: 100px;
		border-style: ridge;
		padding-bottom: 15px;
		margin-bottom: 25px;
	}
}

.btn-default:hover {
	color: black;
	background-color: black;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;

}

#button-model {
	background-color: black;
}

