/****************************************
* JJRamirez portfolio theme css
* @author: Josephjramirezwd@gmail.com
*****************************************/

html,
body {
	font-family: 'Permanent Marker', 'Roboto', 'Roboto Condensed', 'Roboto Slab', cursive, serif, sans-serif;
}

p {
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
}

a,
a:visited,
a:hover,
a:active {
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-ms-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	transition: all 250ms ease;
}

.w1 {
	font-family: 'Permanent Marker', cursive;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
	font-family: 'Roboto Condensed', sans-serif;
}

.lead {
	font-weight: 300;
}

/****************************************
* Main Navbar
*****************************************/

nav.navbar {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.navbar-brand {
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
}

.navbar-fixed-top {
	background-color: #33658A;
}
.navbar-default {
	background-color: ghostwhite;
}

/*custom nav-bar-inverse overrides*/
.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
 }

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
	color: black;
}


.navbar-nav>li>a {
		color: white;
	}

/* embiggen nav on med and lrg screens only*/
@media only screen and (min-width: 992px) {
	nav.navbar {
		padding: 40px 0;
	}
}

.navbar-inverse {
	background-color: transparent;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.navbar-brand{
	font-size: 3rem;
}

/****************************************
* Home Page - Welcome
*****************************************/

.welcome {
	background: image("../images/beach.jpg") no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
	min-height: 400px;
}

.welcome .jumbotron {
	background: transparent;
	border-radius: 0;
	margin: 8rem 0;
}

.welcome .jumbotron> h1 {
	color: black;
	font-family: 'Roboto Condensed', sans-serif;
	background-color: tomato;
	font-size: 8em;
	text-shadow: 3px 3px 0 white;
	text-transform: uppercase;
}

	.w1 {
		font-size: 2em;
		text-shadow: 3px 3px 0 #86BBD8;
		text-transform: uppercase;
	}


.welcome .jumbotron .lead {
	background: tomato;
	color: black;
	display: inline-block;
	font-weight: 800;
	padding: 5px 25px;
	text-shadow: 1px 1px 0 white;
}

/*styles for sml, med, lrg screens */
@media only screen and (min-width: 768px) {
	.welcome .jumbotron {
		margin: 15rem 0;
	}
}

/****************************************
* Home Page - Featurette
*****************************************/
.home-features {
	padding: 8rem 0;
}

.featurette {
	border: 2px solid #222;
	font-family: 'Permanent Marker', cursive;
	padding: 4rem;
	margin-bottom: 3rem;
}

.featurette>p {
	margin: 0;
}

/*styles for sm, md, lg screens */
@media only screen and (min-width: 768px) {
	.featurette {
		margin-bottom: 0;
	}
}

/****************************************
* Content Page Layout
*****************************************/

.content-wrap {
	padding-bottom: 4em;
}

.content-panel,
.side-panel {
	margin-bottom: 3rem !important;
}

/* styles for sml, med, and lrg screens */

@media only screen and (min-width: 768px) {
	.side-panel {
		min-height: 500px;
	}
}

.content-panel {
	padding-left: 10rem;
}



/****************************************
* Page Title Panel
*****************************************/

.title-panel {
	border-left: 5px solid #33658A;
	margin-top:4rem;
	margin-bottom: 4rem;
	padding: 1.5rem 1.5rem 1.5rem 2.5rem;
}

.title-panel h1 {
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
}

.title-panel .breadcrumb {
	margin-bottom: 0;
	border-radius: 0;
}

/****************************************
* Side Panel
*****************************************/

.side-panel {
	background-color: tomato;
	padding: 3rem;
}

.side-panel hr {
	border-color: #2F4858;
}

.side-panel .lead {
	color: #2F4858;
	font-size: 2.5em;
	font-weight: 800;
	text-shadow: 2px 2px 0 #000;
}

/****************************************
* contact form
*****************************************/

/* add some margin underneath the reCAPTCHA and the form #output-area */
.g-recaptcha {
	margin-bottom: 1.5rem;
}

#output-area {
	margin-top: 1.5rem;
}

/****************************************
* Footer
*****************************************/

footer.footer {
	background-color: #2F4858;
	color: #fff;

	padding: 5rem 0;
}

.foot-logo {
	border-bottom: 1px solid rgba(255,255,255,0.5);
	font-size: 2em;
	margin-bottom: 2em;
	padding-bottom: 1em;
	font-family: 'Roboto Condensed', sans-serif;
}

.foot-link a,
.foot-link a:visited {
	color: #F6AE2D;
	font-size: 1em;
	text-decoration: none;
	font-weight: 800;
}

.foot-link a:hover,
.foot-link a:active {
	color: #444;
	text-decoration: none;
}








